<!DOCTYPE html>
<html>
<head>
	<title>Add Campagin</title>
</head>
<body>
	<form method="post">
		<fieldset>
			<legend>Add Campagin</legend>
			<table>
				<tr>
					<td>Title</td>
					<td><input type="text" name="title"></td>
				</tr>
				<tr>
					<td>Discription</td>
					<td><input type="text" name="description"></td>
				</tr>
				<tr>
					<td>Target Fund</td>
					<td><input type="text" name="targetfund"></td>
				</tr>
				<tr>
					<td>Published Date</td>
					<td><input type="text" name="publisheddate"></td>
				</tr>
				<tr>
					<td>End Date</td>
					<td><input type="text" name="enddate"></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" name="submit" value="Submit"></td>
				</tr>
			</table>
		</fieldset>
	</form>
	<a href="/personalhome">Back</a>
</body>
</html>