<!DOCTYPE html>
<html>
<head>
	<title>Donate</title>
</head>
<body>
	
	<form action="/campaign/donate" method="post" >
		<fieldset>
			<legend>Donate</legend>
			<table>
				<tr>
					<td>Campaign Id</td>
					<td><input type="text" name="cid"></td>
				</tr>
				<tr>
					<td>Amount</td>
					<td><input type="text" name="amount"></td>
				</tr>

				<tr>
					<td></td>
					<td><input type="submit" name="submit" value="Submit"></td>
				</tr>
			</table>
		</fieldset>
	</form>
	<a href="/personalhome">Back</a>
</body>
</html>