<!DOCTYPE html>
<html>
<head>
	<title>Pdf Generate</title>
</head>
<body>

	<form  action="/campaign/pdfshow" method="post"  enctype="multipart/form-data">
		<div class="form-group">
             <input type="submit" class="btn btn-primary" name="generate" value="Download Report">
    </div>

	</form>
	<a href="/personalhome">Back</a>
</body>
</html>